.btn {
    border: none;
    background: #EFEFEF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    color: #526D82;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 32px;
}
.btn:hover {
    cursor: pointer;
}
