.mainPart {
    padding-top: 15px;
    width: 760px;
    margin: 0 auto;
}
.mainPartTittle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 19px;
    color: #27374D;
    text-align: center;
    margin-top: 250px;
}