.header {
    min-height: 90px;
    background-color: #27374D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 0 20px;
}
.logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
}
.accInfoWrapper {
    font-size: 24px;
    display: flex;
}
.name {
    margin-right: 20px;
}

.exit {
    color: inherit;
}

.exit:hover {
    cursor: pointer;
}